/* body */
.wrap {
    padding-top: 63px;
    padding-left: 94px;
    padding-right: 133px;
    /* padding-bottom: 585px; */
    width: 500px;
}

/* body-top */
header {
    background: #000;
    margin-bottom: 12px;
}

.body-top>h1 {
    color: #FFF;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    display: inline-block;
    /* border: 1px solid yellow; */
}

.body-top>time {
    color: #F00;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 14px;
    padding-bottom: 12px;
}

/* body-main */
.body-main {
    border: 4px solid #000;
    background: #FFF;

    padding: 20px;
}

.div-box {
    border: 4px solid #A1A1A1;
    padding: 10px;
    margin-bottom: 20px;
    width: 432px;

    color: #000;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.latest {
    border: 4px solid #F00;
}

.best {
    color: #ED00B9;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* body-bottom */
.body-bottom {
    background-color: #000;
    width: 452px;
    text-align: center;

}

.paging {
    /* border: 2px solid yellow; */
    line-height: 50px;
    font-size: 0;
    /* 이렇게 하면 a태그에서 생긴 띄어쓰기 즉 white space를 없애줌  */
}

.body-bottom img {
    color: rgba(248, 248, 248, 1);
    width: 24px;
    height: 24px;

    vertical-align: middle;

}

.body-bottom a {
    color: #05FF00;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 4px;
    margin: 5px;
    /* border: 1px solid yellow; */
}