@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,800&family=Inter:wght@400;700&family=Noto+Sans+KR:wght@100;400;900&family=Open+Sans:wght@800&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');


/* reset */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}