@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* reset */
/* 디자이너들이 쓰는 색 토큰등록 */
/* -- 두개 넣고 변수 만들면 됨 */
/* root가 css의 window 급이라고 보면 됨 */

:root {
    --main-card-bg: white;
    --body-text-color: #333;
    --title-text-color: #000;
    --subtitle-text-color: #4F4F4F;
    --point-red: #EB5757;
    --point-blue: #2F80ED;
    --point-green: #27AE60;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* 폰트 사이즈는 글 뭉치로(글 많은 것) 사이즈 잡는게 좋음 */
    line-height: normal;
    color: var(--body-text-color);
    background-color: #e4e4e4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* 초기셋업 */
/* 파일 셋업 */
/* 상속시킬 서체, 글씨크기, 줄간격 : 글뭉치 것을 사용하면 됨 */
/* 디자이너들이 쓰는 색 토큰등록 */

/* 셋업 순서 
1. 타이포그라피 셋업 
2. 버튼 셋업
3. 부품 셋업 
4. 카드별 조립 */

/* 타이포크라피 셋업 */
.main-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--title-text-color);
}

.sub-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--subtitle-text-color);
}


/* 버튼 셋업 */
/* 공통적인 것은 상위 개념으로 추상화 한다. */
.btn {
    border: none;
    font-weight: 700;
    background-color: transparent;
    color: white;
}

.btn.small {
    /* 붙여서 작성해야함 */
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 8px;
}

.btn.large {
    /* 붙여서 작성해야함 */
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 13px;
}

.btn.red {
    background-color: var(--point-red)
}

.btn.green {
    background-color: var(--point-green)
}

.btn.blue {
    background-color: var(--point-blue)
}

/* 부품 셋업 */
.card {
    background-color: white;
    width: 60%;
    /* height: 200px; */
    border-radius: 8px;
    overflow: hidden;
    /* 이미지 넘쳐나는 것을 hidden */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    margin: 30px auto;
}

/* photo */
.photo img {
    width: 100%;
    display: block;
    /* img가 인라인이여서 아래 하얀 줄의 공간이 뜬다. 이 부분은 display: block 줄것 */
}

/* title */
.title {
    padding: 9px 0px 11px 19px;
    /* border: 1px solid red; */
}

/* article */
.article {
    padding: 12px 10px;
}

.article>.sub-title {
    margin: 5px 0;
}

.title>.main-title {
    margin-bottom: 4px;
}

/* index */
.index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    padding: 0px 10px;
    /* background-color: pink; */
}

.index>.avatar,
.feedback {
    display: flex;
    align-items: center;
}

.index>.avatar img {
    width: 27px;
    margin-right: 3px;
}

.index>.avatar>strong {
    font-size: 14px;
    font-weight: 700;
}

.index>.feedback>a {
    padding: 2px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    font-weight: 500;
}

.index>.feedback>a>i {
    font-size: 0;
    /* 보이지 않게 함 그러나 a 태그는 시각장애인을 위한 링크필요해서 글 넣어줘야함 */
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.index>.feedback>a.comments>i {
    background: url('../2.css/images/message-circle.svg');

}

.index>.feedback>a.likes>i {
    background: url('../2.css/images/heart.svg');
}

/* index- more */
/* 1. 영역의 border로 구분 2. display:flex로 영역 정리 3. 내부사항 해결 */
.index-more {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-more>.avatar {
    display: flex;
    /* border: 1px solid red; */
    padding: 10px;
}

.index-more>.avatar>.photo {
    /* border: 1px solid black; */
    margin-right: 11px;
    width: 39px;
    height: 39px;
}

.index-more>.avatar>.text {
    display: flex;
    flex-direction: column;
}

.index-more>.avatar>.text>strong {
    color: #F00;
    font-size: 16px;
    font-weight: 700;
}

.index-more>.avatar>.text>span {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
}

.index-more>a {
    /* border: 1px solid blue; */
    font-size: 0px;
    background: url('../2.css/images/more-vertical.svg');
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* share */

.share {
    padding: 0 4px;
    /* 선이 떠어져있는 점을 고려하여 */
}

.share>.feedback {
    /* border: 1px solid red; */
    height: 45px;
    padding: 0 21px;
    border-bottom: 1px solid #F2F2F2;

    display: flex;
    /* 자동으로 width height 가 되게 만듦 */
    justify-content: space-between;
    align-items: center;

}

.share>.feedback>* {
    /* border: 1px solid red; */
    font-size: 0;
    width: 24px;
    height: 24px;
}

.share>.feedback>.like {
    background-image: url('../2.css/images/like.svg');
}

.share>.feedback>.comment {
    background-image: url('../2.css/images/comment.svg');
}

.share>.feedback>.back {
    background-image: url('../2.css/images/back.svg');
}

.share>.write {
    height: 45px;
    padding: 0 21px;
    display: flex;
    align-items: center;
}

.share>.write>img {
   width: 24px;
   height: 24px;
   flex-grow: 0;
   /* flex-grow 를 먹여주자 하단도 */
   margin-right: 13px;
}

.share>.write>.write-comment {
    flex-grow: 1;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    height: 30px;
    box-sizing: border-box;
    padding-left: 16px;
}

.share>.write>.write-comment::placeholder {
    color : #BDBDBD;
    font-size: 10px;
    font-weight: 400;
    /* 안에 쓰는 placeholder 글씨색 */
}

.share>.write>.write-comment:focus {
    outline:none;
    /* 글 쓸 때 파란 부분 없어짐 */
}